body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 250px;
}

.btn__an {
    width: 100px;
    height: 50px;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 5px 5px 10px black;
    border: none;
}

.btn__an:hover {
    background-color: rgba(0, 128, 128, 0.682);
}

.btn__an:active {
    background-color: rgb(0, 55, 55);
    width: 97px;
    height: 47px;
    margin: 1.5px;
}

.an {
    font-weight: 600;
    padding:8px;
    color: white;
}

.div__jo {
    width: 200px;
    height: 200px;
    background-color: cornflowerblue;
    border-radius: 4px;
    align-items: center;
}

.jo {
    font-weight: 800;
    padding: 15px;
    color: darkblue;
}